<div class="row">
  <div class="col-md-6">
    <div class="default-card">
      <h2 class="default-card-header">Timeline</h2>
      <div *ngFor="let kweet of kweets">
        <div class="default-card-linebreak"></div>
        <app-kweet [kweet]="kweet"></app-kweet>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="default-card">
      <h2 class="default-card-header">Create a Kweet!</h2>
      <label for="create-kweet" class="sr-only"></label>
      <textarea id="create-kweet" rows="4"></textarea>
      <button class="btn btn-lg btn-primary float-right">Post</button>
    </div>
  </div>
</div>
